.nav {
  box-sizing: content-box;
  background-color: #ccc;
  flex: 1 1 0;
  max-height: 5rem;


  img {
    height: 1em;
  }

  .row {
    flex: 1 1;
    flex-direction: row;

  }

  .nav-item>a.nav-link {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}