// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.avatar {
  img {
    height: 2em;
  }
}

.avatar-set {
  img {
    height: 20em;
  }

}

.avatar-show {

  img {
    height: 5em;
  }
}